/* varibals */
:root{
    --primary  :#ddd;
    --dark : #333;
    --light : #fff;
    --shadow : 0 1px 5px rgba(104,104,104,0.8);
}

* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

@media (max-width:300px) {
    html {
        font-size: 11px;
    }
}

body {
    background-color: rgb(235, 235, 235);
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    margin-left: 15px;
    line-height: 1.4;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    background-color: var(--dark);
    color: var(--light);
    padding: 0.5rem 1.8rem;
    border: 0;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.btn:hover {
    background-color: #474747;
    padding: .5rem 2.2rem;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    gap: 20px;
}

/* navigation */

.main-nav ul {
    display: grid;
    gap: 20px;
    padding: 0;
    grid-template-columns: repeat(4,1fr);
}

@media (max-width:767px) {
    .main-nav ul {
        grid-template-columns: 1fr;
    }
}

.main-nav a {
    background-color: var(--primary);
    display: block;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.main-nav a:hover {
    background-color: var(--dark);
    color: var(--light);
}

/* top container  */

.top-container {
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "showcase showcase top-box-a"
    "showcase showcase top-box-b";
}

@media (max-width:767px) {
    .top-container {
        grid-template-areas: 
        "showcase showcase"
        "top-box-a top-box-b "
        ;
    }
}

@media (max-width:460px) {
    .top-container {
        grid-template-areas: 
        "showcase "
        "top-box-a "
        "top-box-b "
        ;
    }
}


/* showcase */

.showcase{
    grid-area: showcase;
    min-height: 400px;
    background: url(../img/main.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: var(--shadow);
    position: relative;
    z-index: 1;
}

.showcase::before {
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: var(--dark);
    opacity: .7;
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}

@media (max-width:767px) {
    .showcase h1 {
        font-size: 2rem;
    }
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}

/* top box */

.top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.top-box .price {
    font-size: 2.5rem;
}

@media (max-width:767px) {
    .top-box h4  {
        font-size: 1.3rem;
    }
    .top-box .price  {
        font-size: 2rem;
    }
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

/* boxes */

.boxes {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

/* info */

.info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2,1fr);
    padding: 2rem;
}

@media (max-width:767px) {
    .info {
        grid-template-columns: 1fr;
        
    }
}

/* portofolio */

.portofolio {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

@media (max-width:767px) {
    .portofolio {
        grid-template-columns: repeat(2,minmax(150px,1fr));
    }
}

.portofolio img {
    width: 100%;
    box-shadow: var(--shadow);
}

/* footer */

footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}
